<footer>
  <div class="row">
    <div class="col-4">
      <img src="../../assets/images/PatientFlowsm.png" alt="pronex">
      <br>
      <label style="font-size: 75%; font-weight: 700; margin-left: 20px; margin-top: 15px;"
        class="badge bg-warning text-dark">Version: Professional</label>
    </div>
    <div style="text-align: center;" class="col-8">
      <img src="../../assets/images/GenericFooter580x79.gif" alt="pronex">
      <br />
      <small>Copyright © {{currentYear}} <a href="http://pronexinc.com">ProNex, Inc</a>.</small> <small>All rights
        reserved.</small>
    </div>
  </div>
</footer>
