#change-password-modal-footer{
    justify-content: space-between;
}

.see-password-container{
  position: relative;
  bottom: 27px;
  right: 15px;
}

.password-rules-container{
  border: 1px solid blue;
  border-radius: 7px;
  h4{
    margin-top: 10px;
    color: #346;
    font-size: 18px;
  }
  ul{
    color: #8a6d3b;
  }
}
