<div style="display: block;" class="modal-header">
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-5">
            <a [routerLink]="['']">
                <img src="../../../assets/images/HeaderLogo.gif" alt="Header Misc Logo">
            </a>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-7 text-center">
            <h2 *ngIf="!model.userName" style="margin-top: 20px;" id="resetPasswordHeading" class="modal-title">
              CHANGE PASSWORD
            </h2>
            <h4 *ngIf="model.userName" style="margin-top: 20px;" id="resetPasswordHeading" class="modal-title">
                RESET PASSWORD FOR {{model.userName.toUpperCase()}}
            </h4>
        </div>
    </div>
</div>
<div class="modal-body">
    <div class="row margin-bottom-separation-sm">
        <div *ngIf="!model.userName" class="col-xs-12 col-sm-12 col-md-6">
            <input id="txtCurrentPassword" [(ngModel)]="model.currentPassword" type="password" class="form-control input-sm" placeholder="Current Password">
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
            <input id="txtNewPassword" [(ngModel)]="model.password" (input)="checkPasswordValidations();" type="password" class="form-control input-sm" placeholder="New Password" strongPassword="3">
            <div (click)="revealUnrevealNewPassword();" class="see-password-container">
                <i *ngIf="!revealNewPassword" class="fa fa-eye float-right" aria-hidden="true"></i>
                <i *ngIf="revealNewPassword" class="fa fa-eye-slash float-right" aria-hidden="true"></i>
            </div>
            <ng9-password-strength-bar
                [passwordToCheck]="model.password"
                [barLabel]="barLabel"
                [customThresholds]="thresholds"
                [barColors]="passwordStrengthColors">
            </ng9-password-strength-bar>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
            <input id="txtConfirmPassword" [(ngModel)]="model.confirmPassword" (input)="checkPasswordsMatch();" type="password" class="form-control input-sm" placeholder="Confirm Password">
            <div (click)="revealUnrevealConfirmPassword();" class="see-password-container">
                <i *ngIf="!revealConfirmPassword" class="fa fa-eye float-right" aria-hidden="true"></i>
                <i *ngIf="revealConfirmPassword" class="fa fa-eye-slash float-right" aria-hidden="true"></i>
            </div>
        </div>
    </div>
    <div>
      <div class="row">
        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
          <p class="pPasswordRules">
            lower case
            <i *ngIf="hasLowerCase" class="fa fa-check text-success" aria-hidden="true"></i>
          </p>
          <p class="pPasswordRules">
              upper case
              <i *ngIf="hasUpperCase" class="fa fa-check text-success" aria-hidden="true"></i>
          </p>
          <p class="pPasswordRules">
              numeric
              <i *ngIf="hasNumber" class="fa fa-check text-success" aria-hidden="true"></i>
          </p>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
          <p class="pPasswordRules">
            special character (!@#$&())
            <i *ngIf="hasSpecialCharacter" class="fa fa-check text-success" aria-hidden="true"></i>
          </p>
          <p class="pPasswordRules">
              strong password
              <i *ngIf="isPasswordStrong" class="fa fa-check text-success" aria-hidden="true"></i>
          </p>
          <p class="pPasswordRules">
              passwords match
              <i *ngIf="passwordsMatch" class="fa fa-check text-success" aria-hidden="true"></i>
          </p>
        </div>
      </div>
    </div>
    <div class="col-xs-12">
        <div class="password-rules-container">
            <h4 style="padding-left:24px" id="4">Password rules</h4>
            <ul>
                <li>At least 8 characters</li>
                <li>Besides letters both lower and upper case, include at least a number and a symbol !@#$&amp;()</li>
                <li>Strength: <b><span style="font-size:large">Strong</span></b></li>
                <li>Password is case-sensitive</li>
            </ul>
        </div>
    </div>
    <div *ngIf="showErrorMessage" style="margin-top: 15px;" class="alert alert-danger" role="alert">
        {{changePasswordErrorMessage}}
    </div>
</div>
<div id="change-password-modal-footer" class="modal-footer">
    <div class="float-left">
        <img src="../../../assets/images/PatientFlow.png" alt="Patient Flow">
    </div>
    <div>
        <button (click)="closeModal();" type="button" class="btn btn-outline-dark margin-right-separation-sm">Close</button>
        <button (click)="changePassword();" [hidden]="!showChangePasswordButton" type="button" name="btnSave" id="btnChangePassword" class="btn btn-primary input-sm btn-block">
            Change Password
        </button>
    </div>
</div>
