#insurance-company-container{
    margin-top: 15px;
}
.add-insurance-company-card-header{
    background: #3c8dbc linear-gradient(180deg,#599ec6,#3c8dbc) repeat-x!important;
}
.add-insurance-company-card-header h2{
    color: #fff;
}
.edit-insurance-button{
    cursor: pointer;
}
#btnAddNewInsuranceCompany{
    margin-left: 10px;
}