#reset-password-main-container{
    text-align: center;
}
.bg-gradient-info {
    background: #17a2b8 linear-gradient(180deg,#3ab0c3,#17a2b8) repeat-x!important;
    color: white;
    float: left;
}
.card {
    text-align: left;
}
#btnResetMyPassword{
    width: 100%;
    margin-top: 10px;
}
#alert-instructions{
    margin-top: 10px;
}
.forgot-username-card{
    margin-top: 30px;
}
.reset-password-email-sent-text{
    font-size: 20px;
    color: #0c539a;
}