<div *ngIf="!resetPasswordEmailSent" class="container" id="reset-password-main-container">
    <img src="../../../assets/images/HeaderMiscLogo-580X79.gif" alt="Header Misc Logo">
    <h2>Password Reset</h2>
    <div class="card">
        <h5 class="card-header bg-gradient-info">Reset your password using your user name</h5>
        <div class="card-body">
            <label>
                <b>User Name</b>
                <span class="text-danger">
                    <b>*</b>
                </span>
            </label>
            <input type="text" [(ngModel)]="model.userName" class="form-control input-sm" placeholder="enter your user name...">
            <div class="col-10 offset-1">
                <button (click)="sendResetPasswordEmail()" id="btnResetMyPassword" class="btn btn-primary btn-lg">Reset my password</button>
            </div>
            <div id="alert-instructions" class="alert alert-info" role="alert">
                <i class="fa fa-info-circle" aria-hidden="true"></i> An email with instructions will be sent to your email account.
            </div>
        </div>
    </div>
    <br>
    <div *ngIf="showErrorMessage" class="alert alert-danger" role="alert">
        {{errorMessage}}
    </div>
    <div class="card forgot-username-card">
        <h5 class="card-header bg-gradient-info">Forgot your User Name?</h5>
        <div class="card-body">
            <div class="alert alert-warning" role="alert">
                <b>
                    If you forgot your user name, you can call our office to verify your User Name, and they will reset your password for you.
                </b>
                <hr>
                <b>
                    Call 847-234-3000 or send an email to <a href="mailto:jeanlaforest@pronexinc.com" target="_blank">jeanlaforest@pronexinc.com</a>.
                </b>
            </div>
        </div>
    </div>
</div>

<div *ngIf="resetPasswordEmailSent" class="container" id="reset-password-main-container">
    <img src="../../../assets/images/HeaderMiscLogo-580X79.gif" alt="Header Misc Logo">
    <div style="margin-top: 30px;">
        <p class="reset-password-email-sent-text">The password for your PatientFlow user has been successfully reset.</p>
        <p class="reset-password-email-sent-text">An email with containing a link to reset your password was sent to your email account.</p>
        <p class="reset-password-email-sent-text">This temporary link will be available for 60 minutes.</p>
    </div>
</div>