<div *ngIf="isAllowedToChangePassword" class="container" id="change-password-main-container">
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-5 col-lg-5">
            <a [routerLink]="['']">
                <img src="../../../assets/images/HeaderLogo.gif" alt="Header Misc Logo">
            </a>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-7 col-lg-7">
            <h1 *ngIf="!requirePasswordChange" id="resetPasswordHeading">
              RESET PASSWORD FOR {{model.userId}} : 
            </h1>
            <h1 *ngIf="requirePasswordChange" id="resetPasswordHeading">
                PASSWORD CHANGE REQUIRED
            </h1>
        </div>
    </div>
    <div class="card">
        <div class="card-body">
            <div class="alert alert-success" role="alert" *ngIf="passwordChanged">
                {{successMessage}}
            </div>
            <div *ngIf="!passwordChanged">
                <div *ngIf="!requirePasswordChange" class="alert alert-info" role="alert">
                    Please enter your new password (twice)
                </div>
                <div *ngIf="requirePasswordChange" class="alert alert-info" role="alert">
                    Please enter your old password and your new password (twice)
                </div>
                <div *ngIf="requirePasswordChange" class="row margin-bottom-separation-sm">
                    <div class="col-xs-12 col-sm-12 col-md-6">
                        <input id="txtCurrentPassword" [(ngModel)]="model.currentPassword" type="password" class="form-control input-sm" placeholder="Current Password">
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                        <input id="txtNewPassword" [(ngModel)]="model.password" (input)="checkPasswordValidations();" type="password" class="form-control input-sm" placeholder="New Password" strongPassword="3">
                        <div (click)="revealUnrevealNewPassword();" class="see-password-container">
                            <i *ngIf="!revealNewPassword" class="fa fa-eye see-password" aria-hidden="true"></i>
                            <i *ngIf="revealNewPassword" class="fa fa-eye-slash see-password" aria-hidden="true"></i>
                        </div>
                        <ng9-password-strength-bar
                            [passwordToCheck]="model.password"
                            [barLabel]="barLabel"
                            [customThresholds]="thresholds"
                            [barColors]="passwordStrengthColors">
                        </ng9-password-strength-bar>
                    </div>
                    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                        <input id="txtConfirmPassword" [(ngModel)]="model.confirmPassword" (input)="checkPasswordsMatch();" type="password" class="form-control input-sm" placeholder="Confirm Password">
                        <div (click)="revealUnrevealConfirmPassword();" class="see-password-container">
                            <i *ngIf="!revealConfirmPassword" class="fa fa-eye see-password" aria-hidden="true"></i>
                            <i *ngIf="revealConfirmPassword" class="fa fa-eye-slash see-password" aria-hidden="true"></i>
                        </div>
                    </div>
                </div>
                <div>
                    <p></p>
                    <p class="pPasswordRules">
                        lower case
                        <i *ngIf="hasLowerCase" class="fa fa-check text-success" aria-hidden="true"></i>
                    </p>
                    <p class="pPasswordRules">
                        upper case
                        <i *ngIf="hasUpperCase" class="fa fa-check text-success" aria-hidden="true"></i>
                    </p>
                    <p class="pPasswordRules">
                        numeric
                        <i *ngIf="hasNumber" class="fa fa-check text-success" aria-hidden="true"></i>
                    </p>
                    <p class="pPasswordRules">
                        special character (!@#$&())
                        <i *ngIf="hasSpecialCharacter" class="fa fa-check text-success" aria-hidden="true"></i>
                    </p>
                    <p class="pPasswordRules">
                        strong password
                        <i *ngIf="isPasswordStrong" class="fa fa-check text-success" aria-hidden="true"></i>
                    </p>
                    <p class="pPasswordRules">
                        passwords match
                        <i *ngIf="passwordsMatch" class="fa fa-check text-success" aria-hidden="true"></i>
                    </p>
                </div>
                <div style="margin-left: 25%;" class="col-xs-8 col-xs-offset-4">
                    <div class="password-rules-container">
                        <h4 style="padding-left:24px" id="4">Password rules</h4>
                        <ul class="text-warning">
                            <li>At least 8 characters</li>
                            <li>Besides letters both lower and upper case, include at least a number and a symbol !@#$&amp;()</li>
                            <li>Strength: <b><span style="font-size:large">Strong</span></b></li>
                            <li>Password is case-sensitive</li>
                        </ul>
                    </div>
                </div>
                <br>
                <input (click)="changePassword();" [hidden]="!showChangePasswordButton" type="submit" name="btnSave" value="Change Password" id="btnChangePassword" class="btn btn-primary input-sm btn-block">
                <div *ngIf="showErrorMessage" style="margin-top: 15px;" class="alert alert-danger" role="alert">
                    {{changePasswordErrorMessage}}
                </div>
            </div>
            <input [routerLink]="['']" *ngIf="passwordChanged" type="submit" value="Go to Login" id="btnGoToLogin" class="btn btn-primary input-sm btn-block">
            <div style="text-align: center; margin-top: 15px">
                <img src="../../../assets/images/PatientFlow.png" alt="Patient Flow">
            </div>
        </div>
    </div>
</div>

<div *ngIf="!isAllowedToChangePassword" class="container" id="change-password-main-container">
    <div style="margin-top: 15px;" class="alert alert-danger" role="alert">
        You are not allowed to change your password. Please request a password reset if you have forgotten your password
    </div>
</div>