#resetPasswordHeading{
  color: #428bca;
  margin-top: 15px;
  float: right;
}
.pPasswordRules {
    margin-bottom: 10px;
}
.password-rules-container{
    border: 1px solid blue;
    border-radius: 7px;
    width: 75%;
}
#btnChangePassword{
    width: 100%;
}
#btnGoToLogin{
    width: 100%;
}
.see-password-container{
    position: relative;
    bottom: 27px;
    right: 15px;
}
.see-password{
    float: right;
}