<div id="settings-handout-category-container" class="container margin-top-separation-sm">
    <div class="card">
        <div class="card-header">
            <h1 class="text-success">Handout Categories</h1>
        </div>
        <div class="card-body">
            <table id="tblOffice" class="table table-bordered table-striped table-sm table-responsive">
                <thead>
                    <tr class="table-dark">
                        <th>Handout Type</th>
                        <th>Category</th>
                        <th class="text-center">Enabled</th>
                        <th appCanSaveSettings class="text-center">Action</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let handoutCategory of handoutCategoriesList;">
                        <td>
                            {{handoutCategory.handoutType}}
                        </td>
                        <td>
                            {{handoutCategory.name}}
                        </td>
                        <td class="text-center">
                            {{handoutCategory.isActive ? 'Yes' : 'No'}}
                        </td>
                        <td appCanSaveSettings class="text-center cursor-pointer">
                            <a (click)="openUpdateProcedureConfirmationModal(handoutCategoryToUpdateModal, handoutCategory)" class="cursor-pointer">
                                <i style="font-size: 20px;" class="fa fa-pencil-square-o text-primary" aria-hidden="true"></i>
                            </a>
                        </td>
                    </tr>
                    <tr appCanSaveSettings class="table-success">
                        <td>
                            <select [(ngModel)]="newHandoutCategory.handoutType" name="dgCategs:_ctl8:ddlFtHandoutType" id="dgCategs__ctl8_ddlFtHandoutType" class="form-control">
                                <option value="">--- Select one ---</option>
                                <option value="S">Handout</option>
                                <option value="I">Education Video</option>
                                <option value="M">Meal Plan</option>
                                <option value="E">Exercise Plan</option>
                                <option value="+">Supplement Plan</option>
                                <option value="P">Pro Video</option>
                                <option value="U">User Manual</option>
                            </select>
                        </td>
                        <td colspan="2">
                            <input [(ngModel)]="newHandoutCategory.name" name="dgCategs:_ctl8:txtFtCategory" type="text" maxlength="100" id="dgCategs__ctl8_txtFtCategory" class="form-control">
                        </td>
                        <td class="text-center">
                            <input (click)="addHandoutCategory();" type="submit" name="dgCategs:_ctl8:btnFtAdd" value="Add" id="dgCategs__ctl8_btnFtAdd" class="btn bnt-sm btn-secondary">
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

<ng-template #handoutCategoryToUpdateModal let-modal>
    <div class="modal-header">
      <h5 class="modal-title" id="modal-basic-title">Update Category</h5>
      <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
    </div>
    <div class="modal-body">
        <div class="mb-3">
            <label>Name:</label>
            <input type="text" [(ngModel)]="selectedHandoutCategory.name" class="form-control input-sm">
            <label *ngIf="selectedHandoutCategory.showNameRequiredMessage" class="text-danger">Category Name is Required</label>
            <br *ngIf="selectedHandoutCategory.showNameRequiredMessage" />
            <label>Handout Type:</label>
            <select [(ngModel)]="selectedHandoutCategory.handoutType" name="dgCategs:_ctl8:ddlFtHandoutType" id="dgCategs__ctl8_ddlFtHandoutType" class="form-control">
                <option value="">--- Select one ---</option>
                <option value="S">Handout</option>
                <option value="I">Education Video</option>
                <option value="M">Meal Plan</option>
                <option value="E">Exercise Plan</option>
                <option value="+">Supplement Plan</option>
                <option value="P">Pro Video</option>
                <option value="U">User Manual</option>
            </select>
            <label *ngIf="selectedHandoutCategory.showHandoutTypeRequiredMessage" class="text-danger">Handout Type is Required</label>
            <br *ngIf="selectedHandoutCategory.showHandoutTypeRequiredMessage" />
            <br/>
            <label>Enabled:</label>
            <div style="float: right;">
                <input id="rdoUpdateIsActive_0" type="radio" name="rdoUpdateShowOnIntake" [(ngModel)]="selectedHandoutCategory.isActive" [value]="false">
                <b>
                    <label for="rdoUpdateIsActive_0">&nbsp;No&nbsp;&nbsp;</label>
                </b>
                <input id="rdoUpdateIsActive_1" type="radio" name="rdoUpdateShowOnIntake" [(ngModel)]="selectedHandoutCategory.isActive" [value]="true" checked="checked">
                <b>
                    <label for="rdoUpdateIsActive_1">&nbsp;Yes</label>
                </b>
            </div>
        </div>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-primary" (click)="updateHandoutCategory()">Confirm</button>
    </div>
</ng-template>